<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="{{ url_for('static',    filename='css/style.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>

        <style>
            body {
              background-image: url({{ url_for('static', filename='img/home.jpg')}});
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: 100% 100%;
            }
        </style>

        <div class="col-md-6 offset-md-3 mt-5">
            <div class="container">
                <h1 style="color:whitesmoke;">Text Summarizer</h1><br>
                <form accept-charset="UTF-8" action="" method="POST"  target="_blank">
                    <div class="form-group">
                        <label style="color:whitesmoke;" for="exampleInputEmail1" required="required">UPLOAD YOUR FILE</label>
                        <br>
                        <input class="button button-primary button-block button-shadow" type="file" accept="image/*" name="image" id="file"  onchange="loadFile(event)">
                        <img id="output" width="500" />
                        <script>
                            var loadFile = function(event) {
                                var image = document.getElementById('output');
                                image.src = URL.createObjectURL(event.target.files[0]);
                            };
                        </script>
                    </div>

                    <h1 style="font-size:40px; color:whitesmoke;">OR</h1><br>
                    <div class="form-group">
                        <label style="color:whitesmoke;" for="text" required="required">ENTER OR PASTE YOUR TEXT IN ENGLISH ONLY</label><br>
                        <textarea id="w3review" name="w3review" rows="10" cols="80">
                        </textarea>
                    </div><br>
                    <div class="form-group">
                        <label style="color:whitesmoke;" for="exampleInputEmail1" required="required">In How Many words you want summary</label><br>
                        <input type="number" placeholder=" write the number" size="50">
                    </div><br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>        

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    </body>
</html>